html
{
	background-color: #edf2fb;
}

body
{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-color: #e2eafc;
	margin: auto;
	width: 80%;
	padding-bottom: 10px;
}

form
{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: #899dcc;
	padding: 20px;
	border-radius: 10px 100px / 120px;
}

.fa-plus
{
	position: absolute;
	top: 60%;
	right: 10%;
	font-size: large;
	font-weight: 900;
}

.fa-plus:hover
{
	cursor: pointer;
	color: #899dcc;
}

.fa-question
{
	position: absolute;
	right: 5%;
	top: 13%;
	font-size: large;
}

.fa-question:hover
{
	cursor: pointer;
	color: #677699;
}

.help
{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: #e2eafc;
	width: 60%;
	border: 2px solid #677699;
	border-radius: 1em;
	bottom: 100%;
	right: 0;
	padding: 10px;
	transition: all 0.8s ease-in;
}

.fa-question:hover + .help
{
	visibility: visible;
	opacity: 1;
}

nav
{
	position: sticky;
	top: 0;
}

input
{
	height: 40px;
	width: calc(100% - 30px);
	margin: auto;
	font-size: 16px;
	border-radius: 0.5em;
	padding-left: 10px;
	border: 1px solid #677699;
	background-color: #e2eafc;
}

ul li
{
	width: 40%;
	position: relative;
	padding-top: 10px;
}

.thirty
{
	width: 30%;
}

ul li:nth-of-type(2)
{
	width: 20%;
}

ul
{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0px;
	margin-top: 0px;
}

label
{
	font-weight: 700;
	font-size: medium;
	display: block;
	padding-bottom: 5px;
}

#click
{
	display: flex;
	justify-content: space-evenly;
}

h1
{
	letter-spacing: 5px;
	font-size: xx-large;
	color: #677699;
	padding: 30px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 5px solid #677699;
	text-transform: uppercase;
	letter-spacing: 15px;
}

button
{
	margin: auto;
	width: 30%;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 5px;
	padding: 10px 20px;
	border-radius: 0.8em;
	background-color: #677699;
	color: #e2eafc;
	text-align: center;
	border: 1px solid #677699;
	transition: all 0.5s;
}

button:hover
{
	color: black;
	cursor: pointer;
	transform: translateY(-0.25em);
}

h2
{
	font-style: italic;
	font-size: x-large;
	color: #677699;
	padding: 20px;
	border-bottom: 3px dashed #677699;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 5px;
}

ol
{
	padding: 0px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

ol > li
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed black;
}

#counter
{
	font-size: 16px;
	width: 10%;
	background-color: #899dcc;
	margin: auto;
	padding: 10px;
	border-radius: 0.5em;
	font-weight: 700;
	margin-bottom: 20px;
}

@media (max-width: 1200px)
{
	form
	{
		width: 60%;
	}

	h1
	{
		width: 60%;
	}

	h2
	{
		width: 50%;
	}

	#counter
	{
		width: 20%;
	}
}


@media (max-width: 768px)
{
	form
	{
		width: 80%;
	}
}

@media (max-width: 576px)
{
	form
	{
		width: 80%;
	}
	
	ul li
	{
		width: 70%;
		position: relative;
		padding-top: 10px;
	}

	.thirty
	{
		width: 70%;
	}

	ul li:nth-of-type(2)
	{
		width: 70%;
	}

	nav
	{
		position: static;
	}

	button
	{
		width: 70%;
	}

	#click
	{
		display: block;
	}

	ol
	{
		grid-template-columns: repeat(2, 1fr);
	}

	#counter
	{
		width: 40%;
	}
}